.hotitemcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 31%;
    margin: 0.7vmax;
    transition: all 0.5s;
    cursor: pointer;
}
.hotitemcard:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px ;
}
.hotitemcard >img{
    width: 70%;
}
.hotitemcard > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(85,83,83);
}
.hotitemcard > span{
    margin: -1vmax 0 1 vmax 0;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}